---
import SelectLanguage from "./SelectLanguage.astro";
import { getI18N } from "../i18n";
const i18n = getI18N(Astro.currentLocale);
---

<nav class="w-screen border-b-[1px] h-20 fixed z-20 bg-white">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="#" class="w-52 scale-125 origin-left">
      <img class="h-full" src="/assets/logos.webp" alt="Logos" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
      <ul
        class="font-medium text-lg flex flex-col gap-1 p-4 lg:p-0 mt-4 border-4 border-gray-300 rounded-lg bg-white lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0 lg:bg-transparent"
      >
        <li class="my-auto">
          <a
            href="#program"
            class="inline-flex py-2 w-fit px-3 text-black rounded hover:bg-gray-100/10 lg:hover:bg-transparent lg:border-0 lg:p-0 leading-5 relative lg:after:w-0 lg:hover:after:w-full lg:after:h-[2px] lg:after:bg-transparent lg:hover:after:bg-black lg:after:absolute lg:after:-bottom-2 lg:after:rounded-lg lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out"
            >{i18n.program.title}</a
          >
        </li>
        <li class="my-auto">
          <a
            href="#speakers"
            class="inline-flex py-2 w-fit px-3 text-black rounded hover:bg-gray-100/10 lg:hover:bg-transparent lg:border-0 lg:p-0 leading-5 relative lg:after:w-0 lg:hover:after:w-full lg:after:h-[2px] lg:after:bg-transparent lg:hover:after:bg-black lg:after:absolute lg:after:-bottom-2 lg:after:rounded-lg lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out"
            aria-current="page">{i18n.speakers.title}</a
          >
        </li>
        <li class="my-auto">
          <a
            href="#gallery"
            class="inline-flex py-2 w-fit px-3 text-black rounded hover:bg-gray-100/10 lg:hover:bg-transparent lg:border-0 lg:p-0 leading-5 relative lg:after:w-0 lg:hover:after:w-full lg:after:h-[2px] lg:after:bg-transparent lg:hover:after:bg-black lg:after:absolute lg:after:-bottom-2 lg:after:rounded-lg lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out"
            >{i18n.gallery.title}</a
          >
        </li>
        <li class="my-auto">
          <a
            target="_blank"
            href="https://hfmexico.mx/foro-nearshoring/"
            class="inline-flex py-2 w-fit px-3 text-black rounded hover:bg-gray-100/10 lg:hover:bg-transparent lg:border-0 lg:p-0 leading-5 relative lg:after:w-0 lg:hover:after:w-full lg:after:h-[2px] lg:after:bg-transparent lg:hover:after:bg-black lg:after:absolute lg:after:-bottom-2 lg:after:rounded-lg lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out"
            >{i18n.edition_2023}</a
          >
        </li>
        <li class="my-auto">
          <a
            href="#register"
            class="relative inline-flex items-center justify-center px-6 py-2 overflow-hidden font-medium lg:transition lg:duration-300 lg:ease-out lg:rounded-full lg:shadow-md group"
          >
            <span
              class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full lg:group-hover:translate-x-0 lg:ease lg:bg-gray-900"
            >
              <svg
                class="w-4 h-4 rotate-90"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
              >
            </span>
            <span
              class="text-lg lg:text-base absolute flex items-center pl-3 lg:pl-0 lg:justify-center w-full h-full lg:text-white lg:transition-all lg:duration-300 lg:transform lg:group-hover:translate-x-full lg:ease lg:bg-gray-900"
              >{i18n.register.title}</span
            >
            <span class="relative invisible">{i18n.register.title}</span>
          </a>
        </li>
        <li class="my-auto">
          <SelectLanguage />
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  import { Collapse } from 'flowbite';
  import type { CollapseInterface } from 'flowbite';

  const anchors = document.querySelectorAll('a[href^="#"]');
  const navbar = document.querySelector("nav");
  const btn = document.querySelector("nav button") as HTMLButtonElement;

  const collapse : CollapseInterface = new Collapse(
    document.getElementById('navbar-default') as HTMLElement
  );

  const addListeners = () => {
    const navbarHeight = navbar ? navbar.getBoundingClientRect().height : 0;
    anchors.forEach((anchor) => {
      anchor.addEventListener("click", (e) => {
        e.preventDefault();
        if (btn.getAttribute("aria-expanded") === "true") collapse.collapse();

        const anchor = e.currentTarget as HTMLAnchorElement;
        const id = anchor.getAttribute("href")?.split("#")[1];
        const target = document.getElementById(id || "");
        const targetPosition = target
          ? target.getBoundingClientRect().top + window.scrollY
          : 0;

        window.scroll({
          top: targetPosition - navbarHeight,
          behavior: "smooth",
        });
      });
    });
  };

  window.addEventListener("load", addListeners);
  window.addEventListener("resize", addListeners);
</script>
