---
import { getI18N } from "../i18n";
const i18n = getI18N(Astro.currentLocale);
---

<section class="relative min-h-[105vh] before:absolute before:top-0 before:left-0 before:w-full before:h-full -z-10 before:bg-gray-900/80">
    <video autoplay muted loop class="absolute -z-30 top-0 right-0 bottom-0 left-0 w-full h-full object-cover">
        <source src="/hero.webm" type="video/webm">
    </video>
    <div class="flex flex-col h-screen lg:justify-end pt-32 lg:pt-20 pb-12">
        <div class="flex flex-col justify-end items-center lg:items-start text-white">
            <h1 class="relative uppercase z-10 font-open-sans font-extrabold text-center lg:text-left text-[3rem] md:text-[5rem] lg:text-[8rem] leading-[1] lg:leading-[0.8] select-none" style="text-shadow: 3px 1px 2px black;">
                Foro<br /><span class="text-[2rem] md:text-[4rem] lg:text-[7rem] font-extrabold leading-[1]">{i18n.hero.title}</span>
            </h1>
            <h2 class="z-10 pt-5 px-4 text-center lg:text-center md:text-left md:text-2xl">
                {i18n.hero.subtitle[0]} 
                <span class="font-bold">{i18n.hero.subtitle[1]}</span>
            </h2>
            <p class="z-10 pt-1 pb-8 px-4 text-center md:text-left md:text-2xl">{i18n.hero.date} · {i18n.hero.free_event}</p>
        </div>
    </div>
    <div class="bg-gradient-to-t from-primary to-transparent absolute bottom-0 h-52 w-full -z-20" />
</section>
