---
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="¡Descubre las claves del Nearshoring y capitaliza sus ventajas con los líderes del sector!">
    <meta name="keywords" content="nearshoring, foro, externalización, estrategias, negocios, 5 de septiembre">
    <meta name="robots" content="index, follow">
    <meta name="author" content="IGECO">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Open Graph Tags -->
    <meta property="og:title" content={title}>
    <meta property="og:description" content="¡Descubre las claves del Nearshoring y capitaliza sus ventajas con los líderes del sector!">
    <meta property="og:image" content="https://foro-nearshoring.igeco.mx/assets/favicon.png">
    <meta property="og:url" content="https://foro-nearshoring.igeco.mx">
    <meta property="og:type" content="website">
    
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content="¡Descubre las claves del Nearshoring y capitaliza sus ventajas con los líderes del sector!">
    <meta name="twitter:image" content="https://foro-nearshoring.igeco.mx/assets/favicon.png">
    <meta name="twitter:url" content="https://foro-nearshoring.igeco.mx">

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <slot />
    <Footer />
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: theme('fontFamily.roboto');
    font-weight: 400;
    font-style: normal;
  }
  body {
    background-color: theme('backgroundColor.white');
  }

  body::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.800');
    border-radius: 10px;
  }
</style>
