---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FocusSegments from "../components/FocusSegments.astro";
import Schedule from "../components/Program.astro";
import Speakers from "../components/Speakers.astro";
import Section from "../components/Section.astro";
import { Gallery } from "../components/Gallery.jsx";
import { Register } from "../components/Register/Register.jsx";

import { getI18N } from "../i18n/index.js";
const i18n = getI18N(Astro.currentLocale);

const thankYouPagePath = Astro.currentLocale === "en" ? "/en/thanks-for-registering" : `/gracias-por-registrarte`;
---

<Layout title={`IGECO | ${i18n.title}`}>
  <Hero />
  <main>
    <FocusSegments />
    <!-- <Schedule /> -->
    <!-- <Speakers /> -->
    <Section id='gallery' subtitle={i18n.gallery.title}>
      <Gallery client:visible />
    </Section>
    <Section id="register" subtitle={i18n.register.title}>
      <Register client:visible i18n={i18n.register.form} thankYouPagePath={thankYouPagePath} />
    </Section>
  </main>
</Layout>

<style></style>
